.page {
  margin-top: 80px;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  margin: 0px;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
}

h3 {
  margin: 0px;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

h4 {
  margin: 0px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.field {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.label {
  font-size: 25px;
  margin-right: 25px;
}

.btn-list {
  display: flex;
  justify-content: center;
}

.ghost-button {
  width: 200px;
  height: 200px;
  color: #282c34;
  background: #fff;
  border: 1px solid #61dafb;
  font-size: 30px;
  padding: 7px 12px;
  font-weight: lighter;
  margin: 6px 0;
  margin-right: 25px;

  text-decoration: none;
  min-width: 120px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.ghost-button:hover, .ghost-button:active {
 color:#fff;
 background:#61dafb;
}


.dropzone-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

  .dropzone-container p {
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
  }

.preview-container {
  margin: 0 auto;
  width: 400px;
  margin-top: 60px;
}


hr {
  margin: 0;
}

.preview-header {
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

  .preview-header div {
    margin-right: 10px;
  }

.header-item-focused{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: purple;
}

.header-item{
  margin: 0;
  border-style: solid;
  border-width: thin;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  font-family: 'Roboto Condensed', sans-serif;
}

.validation {
  margin: 0 auto;
  margin-top: 30px;
  width: 300px;
}

.btn {
  margin: 0 auto;
  width: 100px;
}


.mapper-elt {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.elt-name {
  width: 300px;
}
.elt-selection {
  width: 200px;
}
